

html{
    font-family: "Poppins","Open Sans",sans-serif;
    letter-spacing: 2px;
    scroll-behavior: smooth;
}
body {
    background-color: rgb(59, 44, 41);
    color: #f4f5f7;
    padding-bottom: 60px;
    margin: 0;
  
}
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ff6a0d;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 2;
}

.nav-title {
    color: white;
    font-size: 1.5em;
    display: flex;
    margin-top: 5px;
}
.nav-links :last-child{
    display: none;
}
.nav-title a{
    text-decoration: none;
}
.nav-links a {
    font-size: 1em;
    position: relative;
    display: inline-block;
}
.nav-links a:hover::after{
    content: "";
    position: absolute;
    bottom: -5px; /* Adjust this value for the desired distance */
    left: 0;
    width: 100%;
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 45%;
}

.nav-title h2 img{
    /* margin-top: 5px; */
    width: 40px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.2em;
}
.nav-links .active::after{
    content: "";
    position: absolute;
    bottom: -5px; /* Adjust this value for the desired distance */
    left: 0;
    width: 100%;
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 45%;
}
.footer {
    /* margin: 200px; */
    background: #333;
    color: #fff;
    text-align: center;
    padding: 2px;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 30px;
}

.rights {
    text-align: center;
}